<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings xdt:Transform="Replace">
		<add name="db" connectionString="" providerName="" />
	</connectionStrings>
	<userSettings>
    	<MocaWebMvc40.Test.My.MySettings xdt:Transform="Replace">
    		<add key="TestEnvironment" value="true"/>
    	</MocaWebMvc40.Test.My.MySettings>
	</userSettings>
	<applicationSettings>
    	<MocaWebMvc40.Test.My.MySettings xdt:Transform="Replace">
    		<add key="TestEnvironment" value="true"/>
    	</MocaWebMvc40.Test.My.MySettings>
	</applicationSettings>
</configuration>
